nav {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.logo {
  width: 200px;
  height: 55px;
  cursor: pointer;
}
.userMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.signOut {
  height: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-right: 10px;
}

.signIn {
  height: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}


